CONFIG_SEC_MATISSE_PROJECT=y
CONFIG_SEC_MATISSEWIFI_COMMON=y
CONFIG_MACH_MATISSEWIFI_OPEN=y

CONFIG_FB_MSM_MDSS_TC_DSI2LVDS_WXGA_PANEL=y
CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y

CONFIG_IR_REMOCON_MC96FR116=y

CONFIG_ARCH_MSM8226_3G_WIFI=y
